header {
  height: var(--header-height);
}
.header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: var(--header-height);
  background-color: var(--main-color-800);
  align-items: center;
  overflow: hidden;
}
.logo {
  overflow: hidden;
  margin: auto;
}
.logo > img {
  scale: 1.5;
  overflow: hidden;
}
.hamburger-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger-lines {
  height: 30px;
  width: 40px;
  cursor: pointer;
  position: relative;
}
.hamburger-lines > div {
  background: var(--main-color-200);
  width: 40px;
  height: 3px;
  border-radius: 3px;
  transition: transform 0.5s, opacity 200ms;
}
.line1 {
  position: absolute;
  top: 0;
}
.line2 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 1;
}
.line3 {
  position: absolute;
  bottom: 0;
}

.line1-nav-open {
  transform: translate(0, calc(15px - 50%)) rotate(45deg);
}

.line2-nav-open {
  transform: translate(calc(30px - 50%), 0);
  opacity: 0;
}
.line3-nav-open {
  transform: translate(0, calc(-15px + 50%)) rotate(-45deg);
}
