header {
  height: var(--header-height);
}
.header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: var(--header-height);
  background-color: var(--main-color-800);
  align-items: center;
  overflow: hidden;
}
.logo {
  overflow: hidden;
  margin: auto;
}
.logo > img {
  scale: 1.5;
  overflow: hidden;
}
.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-lines {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: relative;
}
.nav-lines > div {
  background: var(--main-color-200);
  width: 50px;
  height: 5px;
  border-radius: 3px;
  transition: transform 0.5s, opacity 0.5s;
}
.line1 {
  position: absolute;
  top: 0;
  transform-origin: left;
}
.line2 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 1;
}
.line3 {
  position: absolute;
  bottom: 0;
  transform-origin: left;
}
.line1-nav-open {
  transform: rotate(45deg);
  width: 65px !important;
}
.line2-nav-open {
  opacity: 0;
}
.line3-nav-open {
  transform: rotate(-45deg);
  width: 65px !important;
}
