:root {
  margin: 0;
  padding: 0;
  --main-color-50: rgb(248 250 252);
  --main-color-100: rgb(241 245 249);
  --main-color-200: rgb(226 232 240);
  --main-color-300: rgb(203 213 225);
  --main-color-400: rgb(148 163 184);
  --main-color-500: rgb(100 116 139);
  --main-color-600: rgb(71 85 105);
  --main-color-700: rgb(51 65 85);
  --main-color-800: rgb(30 41 59);
  --main-color-900: rgb(15 23 42);
  --main-color-950: rgb(2 6 23);
}
main,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
